<div class="container-fluid">
    <div class="row">
        <div class="col-md-8  col-md-offset-2">
            <div class="main_container">
                <div class="left_panel" ui-view></div>
                <div class="right_menu">
                    <ul class="list-unstyled">
                        <li ui-sref-active="open" >
                            <a ui-sref="info.basic">
                                <i class="fa fa-home fa-2x"></i>
                                Basic
                            </a>
                        </li>
                        <li ui-sref-active="open" >
                            <a ui-sref="info.detail">
                                <i class="fa fa-briefcase fa-2x"></i>
                                Detail Info
                            </a>
                        </li>
                        <li ui-sref-active="open">
                            <a ui-sref="info.family">
                                <i class="fa fa-group fa-2x"></i>
                                Family
                            </a>
                        </li>
                        <li ui-sref-active="open">
                            <a ui-sref="info.work">
                                <i class="fa fa-briefcase fa-2x"></i>
                                Work
                            </a>
                        </li>
                        <li ui-sref-active="open">
                            <a ui-sref="info.education">
                                <i class="fa fa-bank fa-2x"></i>
                                Education
                            </a>
                        </li>
                        <li ui-sref-active="open">
                            <a ui-sref="info.photos">
                                <i class="fa fa-file-photo-o fa-2x"></i>
                                Photos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>