<div class="container-fluid">
    <div class="row">
        <div class="col-md-6  col-md-offset-3">
            <h3 class="title">Login To Play</h3>
            <img src="img/coolgame.jpg" class="img-responsive img-circle login_img" alt="Responsive image"/>
            <div class="text-center">
                <a  ng-if="userLogged"href="" ng-click="logoutFB()"><img src="img/facebook_logout.png"></a>
                <a  ng-if="!userLogged"href="" ng-click="loginFB()"><img src="img/facebook_login.png"></a>
            </div>
        </div>
    </div>
</div>